{% extends 'common/base.html' %}

{% block styles %}
{% endblock %}

{% block content %}
    <h1>Hello User!</h1>
    
    <form>
        {{ my_form }}
    </form>

    <form>
        {{ my_form.as_ul }}
    </form>
    
    <form>
        {{ my_form.as_p }}
    </form>
    
    <form>
        {{ my_form.as_div }}
    </form>
    
    <form>
    {% for field in my_form %}
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
            <div class="errors">
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}
    
    </form>
    
    <form>
        {% for field in my_form %}
            <input
                    type="{{ field.widget_type }}"
                    name="{{ field.html_name }}"
                    id="{{ field.id_for_label }}"
            />
        {% endfor %}
    </form>
    
{% endblock %}