{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="car-header">
                {% if not profile.image_url %}
                    <img
                            class="car-img"
                            src="{% static '/images/default-profile.png' %}"
                            alt="profile-image"
                    />
                {% else %}
                    <!-- if the user has a profile image -->
                    <img class="car-img" src="{{ profile.image_url }}" alt="profile-image"/>
                {% endif %}
                    <h1>
                        {% if profile.first_name %}{{ profile.first_name }}{% endif %}
                        {% if profile.first_name and profile.last_name %} {% endif %}
                        {% if profile.last_name %}{{ profile.last_name }}{% endif %}
                    </h1>
                    <!-- user username -->
                    <p class="description">Username: {{ profile.username }}</p>
                    <!-- user email -->
                    <p class="description">Email: {{ profile.email }}</p>
                    <!-- user age -->
                    <p class="description">Age: {{ profile.age }}</p>
                    <!-- total price of all cars -->
                    <p class="description">Total price: {{ total_price|floatformat:3 }}</p>
                    <!-- Edit/Delete buttons -->
                    <div class="buttons">
                        <a href="{% url "profile-edit" %}" class="edit-button">Edit</a>
                        <a href="{%  url 'profile-delete' %}" class="delete-button">Delete</a>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}